{% extends "base.html" %}
{% load i18n %}

{% block body %}
<br><br>
<form action="" method="post">
  {% csrf_token %}
  
  <h2>Событие</h2>
  {% for field in event_form %}
    <p>
      {{ field.label_tag }}
      {% if field.name == "start" or field.name == "end" %}
        <input type="datetime-local" 
               name="{{ field.name }}"
               id="{{ field.id_for_label }}"
               value="{{ field.value|default:'' }}"
               placeholder="ГГГГ-ММ-ДД ЧЧ:ММ"
               {% if field.field.required %}required{% endif %}>
      {% else %}
        {{ field }}
      {% endif %}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
        
  <h2>Лекарство</h2>
  {% for field in extra_form %}
    <p>
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  
  <br>
  <input type="submit" value="{% trans 'Save' %}">
  <input type="submit" name="cancel" value="Cancel">
</form>
{% endblock %}
